* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  height: 900px;
  background: url("../img/header_bg.png") center center/cover no-repeat;
}

.hat {
  height: 100px;
  border-bottom: 1px solid #A1A1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.menu_wrapper {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  width: 125px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_wrapper a {
  text-decoration: none;
}

.menu__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__item:hover {
  text-shadow: 1px 1px 2px black;
  border-bottom: 2px solid #FFFF;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_wrapper {
  height: 801px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_wrapper .promo h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.header_wrapper .promo h1 {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}

.header_wrapper .projects_btn button {
  background: #4985FF;
  width: 200px;
  border: none;
  height: 45px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  margin: 50px auto;
}

.header_wrapper .projects_btn button:hover {
  width: 210px;
  height: 55px;
  background: blue;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: 10px 5px 30px blue;
          box-shadow: 10px 5px 30px blue;
}

.services_wrapper {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 703px;
}

.services {
  height: 703px;
}

.services_wrapper h2 {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #323232;
  margin-top: 110px;
}

.services_wrapper .lorem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin-top: 50px;
}

.services_wrapper .info {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.services_wrapper button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 55px;
}

.services_wrapper button:hover {
  width: 210px;
  height: 55px;
  background: blue;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: 10px 5px 30px blue;
          box-shadow: 10px 5px 30px blue;
}

.standarts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 797px;
  background: #F6F6F8;
}

.standarts_wrapper {
  width: 1110px;
}

.standart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarts_descr h2 {
  font-family: "MontserratExtraBold";
  font-size: 36px;
  color: #323232;
}

.standarts_lorem {
  margin-top: 40px;
  margin-bottom: 30px;
}

.standarts_lorem span {
  color: #999999;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 25px;
}

.standarts_descr a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.standarts_line hr {
  width: 100%;
  height: 0px;
  border: 1px solid #E0E0E0;
  margin-top: 90px;
}

.standarts_projects {
  width: 916px;
  display: block;
  margin: 78.77px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.standarts .count {
  font-family: "Montserrat";
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.other_projects {
  font-family: "Montserrat";
  font-size: 16px;
  color: #999999;
}

.specialization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 972px;
  background: url("../img/specializationFone.jpg") center center/cover no-repeat;
}

.specialization_wrapper {
  width: 1110px;
}

.specialization_header h2 {
  font-family: "MontserratExtraBold";
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}

.specialization button {
  font-family: "Montserrat";
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.specialization button:hover {
  width: 210px;
  height: 55px;
  background: blue;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: 10px 5px 30px blue;
          box-shadow: 10px 5px 30px blue;
}

.specialization_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialization_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.specialization__item h2 {
  font-family: "Montserrat";
  color: #000;
  font-size: 18px;
}

.specialization__item span {
  color: #4985FF;
}

.specialization__item_header {
  margin-top: 30px;
}

.specialization__item .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 30px;
}

.specialization__item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.specialization hr {
  width: 1110px;
  height: 2px;
  border: none;
  background: #E0E0E0;
  margin-top: 85px;
}

.projcets {
  height: 776px;
  background: #F6F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projcets_wrapper {
  width: 1110px;
}

.projects_header {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.projects_lorem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.projects_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.projects_btn {
  font-family: "Montserrat";
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  display: block;
  margin: 50px auto;
}

.projects_btn:hover {
  width: 210px;
  height: 55px;
  background: blue;
  cursor: pointer;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: 10px 5px 30px blue;
          box-shadow: 10px 5px 30px blue;
}

.projects__item > img:hover {
  width: 270px;
  height: 270px;
}

.multi {
  height: 570px;
  background: url("../img/multi_fone.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multi_wrapper {
  width: 970px;
  margin-top: 70px;
}

.multi_header {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  text-align: center;
}

.multi_descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}

.video {
  width: 100%;
  height: 430px;
  background: url("../img/video_fone.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.play_block {
  width: 300px;
  height: 100px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play_icon {
  cursor: pointer;
}

.view {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.mailing {
  height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.mailing_wrapper {
  width: 1110px;
}

.mailing_wrapper hr {
  min-width: 100%;
  height: 2px;
  background: #E0E0E0;
  border: none;
}

.mailing_header {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 85px;
}

.katalog {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-top: 20px;
}

form {
  display: block;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  width: 299px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
  padding-left: 33px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

button {
  width: 190px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.mailing .messages {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 35px;
}

footer {
  height: 443px;
  background: #F6F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper {
  width: 1110px;
}

.footer_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_contact {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_contact span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.footer_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow_span {
  margin-left: 0px;
}

.footer_contact {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_header {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.footer_contact_span {
  margin-left: 15px;
}

.footer_arrow {
  margin-right: 15px;
}

footer .hr_wrapper hr {
  width: 100%;
  width: 1110px;
  height: 2px;
  background: #E0E0E0;
  border: none;
}

footer .hr_wrapper {
  margin-top: 70px;
}

.date_block {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date_block span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

@media screen and (max-width: 1200px) {
  .services {
    height: 1003px;
  }
  .services .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .info__item {
    margin-bottom: 20px;
  }
  .standarts {
    height: 1100px;
  }
  .standart_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .standarts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 1990px;
  }
  .standarts_projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .standart__item {
    padding-bottom: 50px;
  }
  .standarts_logo {
    margin-top: 20px;
  }
  .standart_img img {
    width: 70px;
    height: 70px;
  }
  .standarts .count {
    font-size: 50px;
  }
  .other_projects {
    font-size: 24px;
  }
  .projcets {
    height: 2200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specialization_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specialization {
    height: 2300px;
  }
  .specialization__item {
    margin-top: 40px;
  }
  .specialization__item_header h2 {
    color: #4682B4;
    text-align: center;
  }
  .specialization__item_header span {
    color: red;
  }
  .specialization__item_header {
    display: block;
    width: 100%;
  }
  .specialization .text {
    text-align: center;
  }
  #spec_a {
    width: 100%;
  }
  #spec_a {
    text-align: center;
  }
  .specialization_header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specialization_header h2 {
    text-align: center;
  }
  .specialization_header button {
    display: block;
    margin: 20px auto;
  }
  .projects_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .projects__item {
    margin-top: 20px;
  }
  .projects__item img {
    width: 400px;
  }
  #wrapper {
    width: 992px;
  }
  .promo {
    width: 100%;
  }
  .promo .title {
    display: block;
    margin: 0 auto;
  }
  .projects_btn {
    display: block;
  }
  footer .hr_wrapper hr {
    width: 100%;
  }
  .specialization hr {
    width: 100%;
  }
  .projcets .projects__item {
    width: 992px;
  }
  .menu_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects_menu {
    width: 100%;
  }
  .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    height: 1263px;
  }
  .footer__item {
    display: block;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .standarts_projects {
    width: 100%;
  }
  .services .info {
    width: 100%;
  }
  .footer_header {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  #wrapper {
    width: 768px;
  }
  .projcets .projects__item {
    width: 100%;
  }
  .header_wrapper .promo h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 240px;
  }
  .menu__item {
    height: 40px;
  }
  .hat {
    height: 300px;
  }
  .services_wrapper h2 {
    font-size: 30px;
  }
  #wrapper {
    width: 576px;
  }
  .services {
    height: 1130px;
  }
}

@media screen and (max-width: 576px) {
  #wrapper {
    width: 340px;
  }
  .projects__item img {
    width: 340px;
  }
  .standarts_logo img {
    width: 340px;
  }
  .standarts_descr h2 {
    font-size: 27px;
  }
  .header_wrapper .promo h1 {
    font-size: 27px;
  }
  .specialization_header h2 {
    font-size: 27px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */